In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv('500jobs_cleaned.csv')

In [29]:
df.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'Job Title', 'Salary Estimate',
       'Job Description', 'Rating', 'Company Name', 'Location', 'Headquarters',
       'Size', 'Founded', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'Competitors', 'hourly', 'yearly', 'Salary', 'age', 'state'],
      dtype='object')

In [30]:
df['Salary'] = df['Salary'].apply(lambda x: x.split('.')[0])
df['Salary'] = df['Salary'].apply(lambda x: x.split(',')[0])
df['Salary'] = df['Salary'].astype('int')
df['Salary'] = df.apply(lambda x: x.Salary*2000 if x.hourly==1 else x.Salary*1000, axis=1)

In [31]:
df.Sector.value_counts()

-1                                154
Information Technology             97
Financial Services                 44
Healthcare                         36
Insurance                          29
Retail & Wholesale                 22
Manufacturing                      21
Telecommunications                 15
Pharmaceutical & Biotechnology     15
Media & Communication               8
Restaurants & Food Service          8
Management & Consulting             2
Education                           1
Name: Sector, dtype: int64

In [32]:
df_model = df[['Rating','Size','Type of ownership', 'Industry', 'Sector', 'Revenue','yearly', 'Salary', 'age', 'state']]
df_model.head()

,Rating,Size,Type of ownership,Industry,Sector,Revenue,yearly,Salary,age,state
0,4.3,-1,-1,-1,-1,-1,0,170000,-1,Remote
1,4.4,-1,-1,-1,-1,-1,1,80000,-1,CO
2,-1.0,-1,-1,-1,-1,-1,1,115000,-1,Remote
3,-1.0,-1,-1,-1,-1,-1,1,100000,-1,Remote
4,4.6,201 to 500 Employees,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 million (USD),0,154000,13,Remote

In [33]:
df_model = df_model.drop(df_model[df_model['Size']=='-1'].index)
df_model.shape

(298, 10)

In [34]:
df_model.shape

(298, 10)

In [35]:
df_model.head(10)

,Rating,Size,Type of ownership,Industry,Sector,Revenue,yearly,Salary,age,state
4,4.6,201 to 500 Employees,Company - Private,Information Technology Support Services,Information Technology,$5 to $10 million (USD),0,154000,13,Remote
6,4.0,1001 to 5000 Employees,Subsidiary or Business Segment,Film Production,Media & Communication,Unknown / Non-Applicable,1,85000,27,NJ
10,3.6,1001 to 5000 Employees,Company - Public,Insurance Agencies & Brokerages,Insurance,$2 to $5 billion (USD),1,122000,10,NY
11,3.9,10000+ Employees,Company - Public,Transportation Equipment Manufacturing,Manufacturing,$10+ billion (USD),1,95000,65,TX
12,4.6,1001 to 5000 Employees,Company - Private,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,0,140000,19,Remote
13,4.3,51 to 200 Employees,Subsidiary or Business Segment,Information Technology Support Services,Information Technology,Unknown / Non-Applicable,1,57000,8,WI
15,3.7,501 to 1000 Employees,Company - Public,Banking & Lending,Financial Services,Unknown / Non-Applicable,1,80000,9,UT
17,4.0,10000+ Employees,Company - Public,Investment & Asset Management,Financial Services,$10+ billion (USD),1,109000,143,IA
18,4.2,10000+ Employees,College / University,Colleges & Universities,Education,$2 to $5 billion (USD),1,110000,161,WA
19,3.7,51 to 200 Employees,Company - Private,Telecommunications Services,Telecommunications,Unknown / Non-Applicable,1,130000,22,CO

In [36]:
df_model.columns

Index(['Rating', 'Size', 'Type of ownership', 'Industry', 'Sector', 'Revenue',
       'yearly', 'Salary', 'age', 'state'],
      dtype='object')

In [37]:
# df_model['Salary'] = pd.to_numeric(df_model['Salary'])
# salary = df['Salary Estimate'].apply(lambda x: x.split('/')[0])

In [38]:
df_model.Salary.dtypes

dtype('int64')

df_model.rating.dtypes

In [43]:
df_model.Rating.dtypes

dtype('float64')

In [39]:
df_dum = pd.get_dummies(df_model)
df_dum.shape

(298, 76)

In [40]:
from sklearn.model_selection import train_test_split

In [44]:
x = df_dum.drop('Salary', axis =1)
y = df_dum.Salary.values

# Statsmodels linear regression

In [46]:
import statsmodels.api as sm

In [48]:
X = sm.add_constant(x)
model =sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.964
Model:                            OLS   Adj. R-squared:                  0.958
Method:                 Least Squares   F-statistic:                     185.9
Date:                Mon, 01 Aug 2022   Prob (F-statistic):          1.08e-165
Time:                        08:34:45   Log-Likelihood:                -2970.2
No. Observations:                 298   AIC:                             6016.
Df Residuals:                     260   BIC:                             6157.
Df Model:                          37
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
const                                              4.262e+04    993.985     42.880      0.000    4.07e+04    4.46e+04
Rating                                             4353.6076    514.523      8.461      0.000    3340.446    5366.770
yearly                                             5208.1673   1593.371      3.269      0.001    2070.612    8345.723
age                                                  97.2009     18.687      5.202      0.000      60.404     133.998
Size_1 to 50 Employees                            -1.757e+04   1682.888    -10.438      0.000   -2.09e+04   -1.43e+04
Size_10000+ Employees                              7507.5623   1528.925      4.910      0.000    4496.910    1.05e+04
Size_1001 to 5000 Employees                        2.446e+04   2052.372     11.916      0.000    2.04e+04    2.85e+04
Size_201 to 500 Employees                         -1641.2610   2363.202     -0.695      0.488   -6294.713    3012.191
Size_5001 to 10000 Employees                       1.718e+04   1755.443      9.789      0.000    1.37e+04    2.06e+04
Size_501 to 1000 Employees                         1.038e+04    643.488     16.138      0.000    9117.681    1.17e+04
Size_51 to 200 Employees                           2295.4476   1127.727      2.035      0.043      74.807    4516.088
Type of ownership_College / University             8395.6501   1373.362      6.113      0.000    5691.321    1.11e+04
Type of ownership_Company - Private                2.061e+04   1806.165     11.412      0.000    1.71e+04    2.42e+04
Type of ownership_Company - Public                 2.023e+04   1173.245     17.243      0.000    1.79e+04    2.25e+04
Type of ownership_Hospital                        -2613.2063   2163.358     -1.208      0.228   -6873.139    1646.726
Type of ownership_Nonprofit Organization          -6954.1196   4876.820     -1.426      0.155   -1.66e+04    2648.973
Type of ownership_Subsidiary or Business Segment   2950.5742   1464.985      2.014      0.045      65.828    5835.321
Industry_Accounting & Tax                         -1.321e+04   1680.994     -7.856      0.000   -1.65e+04   -9895.516
Industry_Banking & Lending                         1.038e+04    643.488     16.138      0.000    9117.681    1.17e+04
Industry_Biotech & Pharmaceuticals                 7355.6778    665.651     11.050      0.000    6044.924    8666.431
Industry_Business Consulting                      -2926.0547   1841.511     -1.589      0.113   -6552.229     700.120
Industry_Cable, Internet & Telephone Providers     2.136e+04   1620.810     13.181      0.000    1.82e+04    2.46e+04
Industry_Colleges & Universities                   8395.6501   1373.362      6.113      0.000    5691.321    1.11e+04
Industry_Consumer Electronics & Appliances Stores -7296.7316   1157.270     -6.305      0.000   -9575.548   -5017.916
Industry_Consumer Product Manufacturing            2393.1329   1331.598      1.797      0.073    -228.957    5015.223
Industry_Department, Clothing & Shoe Stores       -8470.4387   2417.403     -3.504      0.001   -1.32e+04   -3710.259
Industry_Enterprise Software & Network Solutions  -7371.3674   1298.602     -5.676      0.000   -9928.484   -4814.251
Industry_Film Production                          -4556.5876   1714.158     -2.658      0.008   -7931.987   -1181.189
Industry_Health Care Services & Hospitals         -1093.2793    885.977     -1.234      0.218   -2837.883     651.324
Industry_Home Furniture & Housewares Stores        9432.3109   1228.097      7.680      0.000    7014.028    1.19e+04
Industry_Information Technology Support Services   1.273e+04   1406.843      9.052      0.000    9964.260    1.55e+04
Industry_Insurance Agencies & Brokerages           6060.1712   2916.003      2.078      0.039     318.182    1.18e+04
Industry_Insurance Carriers                       -7196.8819   1853.121     -3.884      0.000   -1.08e+04   -3547.846
Industry_Internet & Web Services                   1.459e+04   1404.078     10.389      0.000    1.18e+04    1.74e+04
Industry_Investment & Asset Management            -3572.1387   1655.961     -2.157      0.032   -6832.942    -311.335
Industry_Restaurants & Cafes                      -1.326e+04   1214.199    -10.920      0.000   -1.57e+04   -1.09e+04
Industry_Telecommunications Services               1.405e+04   2056.258      6.834      0.000       1e+04    1.81e+04
Industry_Transportation Equipment Manufacturing   -2886.9848   1354.168     -2.132      0.034   -5553.517    -220.452
Industry_Video Game Publishing                     7696.1149   2484.040      3.098      0.002    2804.718    1.26e+04
Sector_Education                                   8395.6501   1373.362      6.113      0.000    5691.321    1.11e+04
Sector_Financial Services                         -6392.9590   1055.342     -6.058      0.000   -8471.064   -4314.854
Sector_Healthcare                                 -1093.2793    885.977     -1.234      0.218   -2837.883     651.324
Sector_Information Technology                      1.995e+04   1072.049     18.609      0.000    1.78e+04    2.21e+04
Sector_Insurance                                  -1136.7107   1693.813     -0.671      0.503   -4472.049    2198.628
Sector_Management & Consulting                    -2926.0547   1841.511     -1.589      0.113   -6552.229     700.120
Sector_Manufacturing                               -493.8519   1038.315     -0.476      0.635   -2538.429    1550.725
Sector_Media & Communication                       3139.5273   1528.169      2.054      0.041     130.365    6148.690
Sector_Pharmaceutical & Biotechnology              7355.6778    665.651     11.050      0.000    6044.924    8666.431
Sector_Restaurants & Food Service                 -1.326e+04   1214.199    -10.920      0.000   -1.57e+04   -1.09e+04
Sector_Retail & Wholesale                         -6334.8595   1390.248     -4.557      0.000   -9072.439   -3597.280
Sector_Telecommunications                          3.542e+04   1183.008     29.938      0.000    3.31e+04    3.77e+04
Revenue_$1 to $2 billion (USD)                     8078.8377   1194.974      6.761      0.000    5725.779    1.04e+04
Revenue_$1 to $5 million (USD)                     2.244e+04   1157.487     19.383      0.000    2.02e+04    2.47e+04
Revenue_$10+ billion (USD)                         8453.2950   1611.102      5.247      0.000    5280.826    1.16e+04
Revenue_$100 to $500 million (USD)                  -66.3714   2489.058     -0.027      0.979   -4967.650    4834.907
Revenue_$2 to $5 billion (USD)                    -2455.0080   1285.830     -1.909      0.057   -4986.974      76.958
Revenue_$25 to $50 million (USD)                  -2.719e+04   2568.176    -10.586      0.000   -3.22e+04   -2.21e+04
Revenue_$5 to $10 billion (USD)                    9529.0799   3522.409      2.705      0.007    2592.999    1.65e+04
Revenue_$5 to $10 million (USD)                    1.817e+04   3150.128      5.769      0.000     1.2e+04    2.44e+04
Revenue_$50 to $100 million (USD)                   3.12e+04   2125.180     14.679      0.000     2.7e+04    3.54e+04
Revenue_$500 million to $1 billion (USD)          -3028.4525   1623.185     -1.866      0.063   -6224.715     167.810
Revenue_Unknown / Non-Applicable                  -2.251e+04   1426.072    -15.783      0.000   -2.53e+04   -1.97e+04
state_ CA                                          1.497e+04   3000.068      4.991      0.000    9066.502    2.09e+04
state_ CO                                          1.405e+04   2056.258      6.834      0.000       1e+04    1.81e+04
state_ FL                                         -1.821e+04   1879.839     -9.685      0.000   -2.19e+04   -1.45e+04
state_ GA                                          2060.9434   1034.167      1.993      0.047      24.534    4097.353
state_ IA                                          3629.8826   3509.898      1.034      0.302   -3281.564    1.05e+04
state_ IN                                          7355.6778    665.651     11.050      0.000    6044.924    8666.431
state_ NJ                                          1.365e+04   2869.635      4.756      0.000    7998.683    1.93e+04
state_ NY                                          1.037e+04   1700.484      6.098      0.000    7021.353    1.37e+04
state_ TX                                         -8937.3480   1183.912     -7.549      0.000   -1.13e+04   -6606.071
state_ UT                                          3088.0607    922.299      3.348      0.001    1271.934    4904.187
state_ WA                                         -2003.7815   2197.838     -0.912      0.363   -6331.610    2324.047
state_ WI                                         -2.575e+04   1320.597    -19.499      0.000   -2.84e+04   -2.32e+04
state_Maryland                                     8078.8377   1194.974      6.761      0.000    5725.779    1.04e+04
state_Remote                                       2.026e+04   1490.306     13.594      0.000    1.73e+04    2.32e+04
==============================================================================
Omnibus:                       51.992   Durbin-Watson:                   2.323
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              551.574
Skew:                           0.200   Prob(JB):                    1.69e-120
Kurtosis:                       9.653   Cond. No.                     8.94e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.19e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

# sklearn linear model